.btn-inverse {
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 5px 15px;
    margin: 10px 10px 5px 0;
    background-color: #404E67;
    border-color: #404E67;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}