@import './colors.scss';

.h100vh {
    height: 100vh;
}
.bg-blue {
    background-color: $darkblue;
}
nav {
box-shadow: 0px 11px 8px -10px rgba(0,0,0,0.28);
}
.mylogo {
    height: 100%;
}
.logo {
    a {
        color: #fff !important;
    }
}